<app-weather-io></app-weather-io>
<div class="container">
  <div class="row justify-content-center text-center mt-5">
    <div class="col-md-3 align-self-center">
      <img src="assets/summer_season.jpg" alt="" class="seasonImg">
    </div>
    <div class="col-md-3 align-self-center">
      <img src="assets/rainy_season.jpg" alt="" class="seasonImg">
    </div>
    <div class="col-md-3 align-self-center">
      <img src="assets/winter_season.jpg" alt="" class="seasonImg">
    </div>
  </div>
</div>
