<app-weather-io></app-weather-io>
<div class="container my-5">
  <div class="row justify-content-center text-center">
    <div class="col-md-10">
      <p class="description">Weather.io is developed using Angular and is powered by <a
          href="https://www.weatherapi.com/" title="Free Weather API"
          style="text-decoration: none;color: inherit;">WeatherAPI.com</a></p>
    </div>
  </div>
  <div class="row justify-content-center text-center mt-3">
    <div class="col-md-10">
      <p class="description2">To check weather in your location, <a [routerLink]="['/weather']"
          style="text-decoration: none;color: inherit;">click here</a></p>
    </div>
  </div>
</div>
