.temperature {
  font-size: 60px;
}

.container {
  width: 90%;
  margin-top: 50px;
}

.weatherCard {
  background-color: orange;
  box-shadow: 0 10px 20px rgba(83, 83, 83, 0.19), 0 6px 6px rgba(83, 83, 83, 0.19);
  border-radius: 5px;
}

.unitToggle {
  font-size: 30px !important;
  cursor: pointer;
}


.unitToggle:hover {
  color: black !important;
}

.badgeText {
  padding: 15px !important;
  font-size: 16px;
}

::ng-deep.mat-tab-label {
  color: white !important;
}

::ng-deep.mat-tab-body {
  background-color: #e6e6e6 !important;
  border-radius: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 5px;
}

::ng-deep mat-ink-bar {
  background-color: orange !important;
}

@media only screen and (max-width: 768px) {
  ::ng-deep.mat-tab-body-content {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.property {
  font-size: 16px;
}

.propertyValue {
  font-size: 18px;
  position: absolute;
  right: 0px;
  font-weight: 500;
}

.propertyContainer {
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.185);
  padding-top: 5px;
}

.sunTime {
  font-size: 16px;
}

.row {
  font-family: Font-Regular !important;
}

@media only screen and (max-width: 576px) {
  .astro {
    margin-top: 15px !important;
  }
}
